<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ejiayou.web.module">

    <application>
        <!--农行关键必须设置true   android:exported="true" -->
        <activity
            android:name=".ui.WebEPlusActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.WevStaticActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.WebOrderPayActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.WebMaskActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App" />
    </application>
</manifest>